
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

:root{
    --rojo-color: #A40101;
    --magenta-color: #2CA3AB;
    --gris-color: #C4C4C4;
    --naranja-color: #F3610E;
    --azul-color: #1D1B45;
    --darkazul-color: #212429;
}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    color: var(--purple-color);
    align-items: center;
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/*==================================Home========================================*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.b-azul{
    /*background-color: var(--blue-color);*/
    background: var(--azul-color);
    color: #C4C4C4;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.telefono{
    display: flex;
    text-align: center;
}

.telefono img{
    align-items: center;
}

.direccion{
    display: flex;
    text-align: center;
}

.direccion img{
    align-items: center;
}

.linea{
    text-align: right;
}
#baner{
    margin-top: 2px;
}

.tbaner{
    flex-basis: 70px;
    background-image: url(../img/medico.png);
    width: 1349px;
    /*max-width: 1349px;*/
    height: 400px;
    align-items: center;
    padding: 2rem;
}

.franja img{
    width: 1349px;
    margin: 0;
}

#alerts{
    margin: 0;
    background-image: url(../img/CorGroup.png);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

.alertas{
    justify-content: space-between;
    padding: rem;
}
.alerta ul{
    list-style-image: url(../img/check\ 1.png);
}

.img-alerta{
    max-width: 20px;
    max-height: 20px;
}


.service{
    display: flex;
    padding: 20px 0 40px 10px;
    align-items: center;
    flex: 40%;
}

.img-service img{
    height: 128px;
    flex: 40%;
    margin-right: 1em;
}

.tex-service{
    color: var(--dark-color);
    font-size: 24px;
}

.qhacer{
    justify-content: space-between;
    padding: rem;
}

#temas{
    margin: 0;
    text-align: left;
    background-color: #636161;
}


.tema p{
    margin: 20px 0 15px;
    height: 50px;
    align-items: auto;
    color: var(--gris-color);
    background-color: var(--azul-color);
}

.fontlogin{
    background-image: url(/img/10.png);
}

.final{
    margin: 0 20 0px;
    padding: 10px;
    background-color: black;
    color: var(--gris-color);
}

.final p{
    text-align: center;
}


/*==================================login========================================*/
#font-login{
    background-image: url(../img/10.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#login {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.volver-home{
    align-items: flex-end;
    margin: 5px;
}

.volver-home button{
    background-color: var(--azul-color);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--magenta-color);
    padding: 7px;
}

.login-container{
    display: flex;
    width: 30%;
    min-height: 400px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-logo{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 30px;
    background-color: var(--magenta-color);
    min-height: 100px;
}

.login-logo h3{
    margin: 0;
    color: var(--dark-color);
}

.login-form{
    flex-basis: 80%;
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input{
    margin-bottom: 8px;
    width: 100%;
    min-height: 30%;
    background-color: #bdfbff;
    border-radius: 15px;
    border: 1.5px solid #7fd2d8;
}

.entrada{
    margin-bottom: 8px;
    width: 100px;
    min-height: 30px;
    background-color: #bdfbff;
    border-radius: 15px;
    border: 1.5px solid #7fd2d8;
}

label{
    font-weight: bolder;
}

a.linkpass{
    color: #000000;
    font-weight: 400px;
    margin: 5px;
}

.ingresar{
    display: block;
    background-color: var(--naranja-color);
    color: white;
    padding-top: 3px;
    padding: 10px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1.5px solid rgba(29, 172, 243, 0,753);
}


/*==================================Dasboard========================================*/
#dasboard{
    display: flex;
}

.dash-logo{
    background-color: var(--azul-color);
    display: block;
    margin: 0;
    padding: 30px;
    
}

/*#menu-dash{
    background-color: var(--azul-color);
    display: flex;
    height: 100%;
    left: 0;
    top: 0;
}

footer .final{
    background-image: url(/img/3.\ franjaninios.svg);
    background-position: right bottom;
}*/

.menu1{
    width: 100%;
    background-color: var(--azul-color);
    padding: 100px;
    height: 90vh;
}

.menu1 ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu1 a{
    color: var(--ligh-color);
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-family: 'Roboto', sans-serif;
}

/*.menu1 a:hover{
    background-color: var(--naranja-color);
    color: var(--dark-color);
    border: 3px solid var(--naranja-color);
    padding-left: 40px;
    margin: 20px;
    transition: all 2s;
    width: 200px;
}*/

.menu1 i{
    margin: 10px;
}

.item1{
    background-color: var(--gris-color);
    border: 2px solid var(--naranja-color);
    margin-top: 10px;
    top: 50%;
    left: 50%;
    align-items: center;
}

.contenido{
    flex-basis: 80%;
    /*background: linear-gradient(rgba(196, 196, 196, 0.3), rgba(196, 196, 196, 0.3)), url(../img/13.\ guerreros.png);*/
    background: linear-gradient(rgba(196, 196, 196, 0.3), rgba(196, 196, 196, 0.3)), url(../img/3.\ franjaninios\ 1.png), url(../img/13.\ guerreros.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    align-items: center;
    padding: 30px;
}

.tex-contenido{
    text-align: center;
    margin: 150px;
    margin-bottom: 100px;
    color: var(--naranja-color);
}
.tex-contenido h1{
    font-size: 40px;
}

.frm-bienvenida input{
    width: 300px;
    border: none;
    background-color: rgba(196, 196, 196, 0.3);
    color: var(--gray-color);
    border-bottom: 2px solid var(--azul-color);
}

.frm-icon{
    background-color: var(--azul-color);
    color: white;
    border-color: var(--magenta-color);
    border-radius: 10%;
}

.sesion{
    text-align: right;
}

.sesion i{
    border-color: var(--naranja-color);
}

/*==================================Producto========================================*/

.header{
    background-color: var(--darkazul-color);
}

.franja{
    width: 100%;
}

#paciente{
    flex-basis: 80%;
    background-color: var(--ligh-color);
    padding: 30px;
}

.tabla-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabla-intro h1{
    text-align: center;
    color: var(--white-color);
    font-family: 'Roboto' sans-serif;
}

.tabla-intro a{
    border-radius: 5%;
}

.frm-busqueda{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.frm-busqueda input{
    flex-basis: 20%;
    right: auto;
    padding: 10px;
    border: 2px solid var(--magenta-color);
    border-radius: 20%;
}

.frm-busqueda button{
    flex-basis: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

.tbl-paciente{
    
    width: 100%;
    background-color: var(--gris-color);
    border: 2px salid var(--magenta-color);
    border-collapse: collapse;
}

.tbl-paciente th{
    border: 2px solid var(--magenta-color);
    background-color: var(--darkazul-color);
    color: var(--gris-color);
    padding: 10px 0;
}

.tbl-paciente td{
    border: 2px solid var(--magenta-color);
    text-align: center;
    padding: 10px 0;
}

.btn-magenta{
    background-color: var(--magenta-color);
    border-radius: 5%;
    font-weight: bold;
}

.btn-rojo{
    background-color: var(--rojo-color);
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

.btn-naranja{
    background-color: var(--naranja-color);
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

.btn-gris{
    background-color: #929292;
    border-radius: 5%;
    font-weight: bold;
}

.btn-magenta, .btn-rojo, .btn-naranja, .btn-gris{
    padding: 0.5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/*==================================Registro pacientes========================================*/

.header{
    background-color: var(--darkazul-color);
}

.contenidos{
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.tabla-intro{
    background-color: var(--azul-color);
    border-radius: 7%;
    color: white;
}

.tabla-intro h1{
    margin-left: 500px;
    font-size: 26px;
}

.conten{
    width: 80%;
    background: var(--gris-color);
    padding: 25px 30px;
    border-radius: 5px;
}

.frm-titlles{
    /*font-size: 25px;*/
    font-weight: 500;
    position: relative;
}

.frm-titlles::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}

.frm-titlles form .frm-conten{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

form .formulario{
    width: calc(100% / 2 - 20px);
}